@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background: #0f1424;
  color: white;
}

#main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vw;
}

#main-container #container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

#main-container #container-grid .grid-content {
  background: #1c1f4a;
  font-size: 1rem;
  border-radius: 15px;
  width: 15vw;
  min-height: 25vh;
  position: relative;
}

#main-container #container-grid .grid-content:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-container #container-grid .grid-content:nth-child(1) .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background: #5847eb;
  border-radius: 20px;
  padding: 1.3rem 1.2rem;
}

#main-container #container-grid .grid-content:nth-child(1) .bio img {
  width: 70px;
  border: 2px solid white;
  border-radius: 50px;
}

#main-container #container-grid .grid-content:nth-child(1) .bio p {
  margin-top: 1.7rem;
  font-size: 15px;
  color: #bdc1ff;
  margin-bottom: .2rem;
}

#main-container #container-grid .grid-content:nth-child(1) .bio h4 {
  font-size: 1.8rem;
  font-weight: 300;
  padding-bottom: 2.5rem;
}

#main-container #container-grid .grid-content:nth-child(1) .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.2rem;
  padding-left: 1.5rem;
}

#main-container #container-grid .grid-content:nth-child(1) .list .btn {
  background: none;
  border: none;
  color: #6f76c8;
  font-size: .85rem;
  text-align: left;
  margin-bottom: .7rem;
  cursor: pointer;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

#main-container #container-grid .grid-content:nth-child(1) .list .btn:hover {
  color: white;
}

#main-container #container-grid .grid-content:nth-child(1) .list .active {
  color: white;
}

#main-container #container-grid .grid-content:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-container #container-grid .grid-content:nth-child(2) .image {
  background: #ff8c66;
  border-radius: 15px;
  width: 100%;
  min-height: 80px;
}

#main-container #container-grid .grid-content:nth-child(2) .image img {
  float: right;
  width: 80px;
}

#main-container #container-grid .grid-content:nth-child(2) .content {
  background: #1c1f4a;
  margin-top: -1.8rem;
  border-radius: 20px;
  padding: 1rem 1.2rem;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

#main-container #container-grid .grid-content:nth-child(2) .content:hover {
  background: #6f76c8;
}

#main-container #container-grid .grid-content:nth-child(2) .content .title {
  font-size: 1.1rem;
  font-weight: 500;
}

#main-container #container-grid .grid-content:nth-child(2) .content .title img {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

#main-container #container-grid .grid-content:nth-child(2) .content .time {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 300;
}

#main-container #container-grid .grid-content:nth-child(2) .content .prev {
  font-size: .8rem;
  margin-top: 5px;
  color: #bdc1ff;
}

#main-container #container-grid .grid-content:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-container #container-grid .grid-content:nth-child(3) .image {
  background: #56c2e6;
  border-radius: 15px;
  width: 100%;
  min-height: 80px;
}

#main-container #container-grid .grid-content:nth-child(3) .image img {
  float: right;
  width: 80px;
}

#main-container #container-grid .grid-content:nth-child(3) .content {
  background: #1c1f4a;
  margin-top: -1.8rem;
  border-radius: 20px;
  padding: 1rem 1.2rem;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

#main-container #container-grid .grid-content:nth-child(3) .content:hover {
  background: #6f76c8;
}

#main-container #container-grid .grid-content:nth-child(3) .content .title {
  font-size: 1.1rem;
  font-weight: 500;
}

#main-container #container-grid .grid-content:nth-child(3) .content .title img {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

#main-container #container-grid .grid-content:nth-child(3) .content .time {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 300;
}

#main-container #container-grid .grid-content:nth-child(3) .content .prev {
  font-size: .8rem;
  margin-top: 5px;
  color: #bdc1ff;
}

#main-container #container-grid .grid-content:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 2 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-container #container-grid .grid-content:nth-child(4) .image {
  background: #ff5c7c;
  border-radius: 15px;
  width: 100%;
  min-height: 80px;
}

#main-container #container-grid .grid-content:nth-child(4) .image img {
  float: right;
  width: 80px;
}

#main-container #container-grid .grid-content:nth-child(4) .content {
  background: #1c1f4a;
  margin-top: -1.8rem;
  border-radius: 20px;
  padding: 1rem 1.2rem;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

#main-container #container-grid .grid-content:nth-child(4) .content:hover {
  background: #6f76c8;
}

#main-container #container-grid .grid-content:nth-child(4) .content .title {
  font-size: 1.1rem;
  font-weight: 500;
}

#main-container #container-grid .grid-content:nth-child(4) .content .title img {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

#main-container #container-grid .grid-content:nth-child(4) .content .time {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 300;
}

#main-container #container-grid .grid-content:nth-child(4) .content .prev {
  font-size: .8rem;
  margin-top: 5px;
  color: #bdc1ff;
}

#main-container #container-grid .grid-content:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-container #container-grid .grid-content:nth-child(5) .image {
  background: #4acf81;
  border-radius: 15px;
  width: 100%;
  min-height: 80px;
}

#main-container #container-grid .grid-content:nth-child(5) .image img {
  float: right;
  width: 80px;
}

#main-container #container-grid .grid-content:nth-child(5) .content {
  background: #1c1f4a;
  margin-top: -1.8rem;
  border-radius: 20px;
  padding: 1rem 1.2rem;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

#main-container #container-grid .grid-content:nth-child(5) .content:hover {
  background: #6f76c8;
}

#main-container #container-grid .grid-content:nth-child(5) .content .title {
  font-size: 1.1rem;
  font-weight: 500;
}

#main-container #container-grid .grid-content:nth-child(5) .content .title img {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

#main-container #container-grid .grid-content:nth-child(5) .content .time {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 300;
}

#main-container #container-grid .grid-content:nth-child(5) .content .prev {
  font-size: .8rem;
  margin-top: 5px;
  color: #bdc1ff;
}

#main-container #container-grid .grid-content:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-container #container-grid .grid-content:nth-child(6) .image {
  background: #7536d3;
  border-radius: 15px;
  width: 100%;
  height: 80px;
}

#main-container #container-grid .grid-content:nth-child(6) .image img {
  float: right;
  width: 80px;
}

#main-container #container-grid .grid-content:nth-child(6) .content {
  background: #1c1f4a;
  margin-top: -1.8rem;
  border-radius: 20px;
  padding: 1rem 1.2rem;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

#main-container #container-grid .grid-content:nth-child(6) .content:hover {
  background: #6f76c8;
}

#main-container #container-grid .grid-content:nth-child(6) .content .title {
  font-size: 1.1rem;
  font-weight: 500;
}

#main-container #container-grid .grid-content:nth-child(6) .content .title img {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

#main-container #container-grid .grid-content:nth-child(6) .content .time {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 300;
}

#main-container #container-grid .grid-content:nth-child(6) .content .prev {
  font-size: .8rem;
  margin-top: 5px;
  color: #bdc1ff;
}

#main-container #container-grid .grid-content:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2 / 4 / 3 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-container #container-grid .grid-content:nth-child(7) .image {
  background: #f1c65b;
  border-radius: 15px;
  width: 100%;
  min-height: 80px;
}

#main-container #container-grid .grid-content:nth-child(7) .image img {
  float: right;
  width: 80px;
}

#main-container #container-grid .grid-content:nth-child(7) .content {
  background: #1c1f4a;
  margin-top: -1.8rem;
  border-radius: 20px;
  padding: 1rem 1.2rem;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

#main-container #container-grid .grid-content:nth-child(7) .content:hover {
  background: #6f76c8;
}

#main-container #container-grid .grid-content:nth-child(7) .content .title {
  font-size: 1.1rem;
  font-weight: 500;
}

#main-container #container-grid .grid-content:nth-child(7) .content .title img {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

#main-container #container-grid .grid-content:nth-child(7) .content .time {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 300;
}

#main-container #container-grid .grid-content:nth-child(7) .content .prev {
  font-size: .8rem;
  margin-top: 5px;
  color: #bdc1ff;
}
/*# sourceMappingURL=style.css.map */